.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.content {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sidenav {
  flex: 1;
  padding: 20px;
}
